<ion-view view-title="Kiedy przelew">
  <ion-content class="padding">
      <div class="row responsive-sm">
          <div class="col">
              <p>żółw</p>
              <label class="item item-input item-select">
                  <div class="input-label">
                      Bank nadawcy
                  </div>
                  <select ng-model="select.bankFrom" ng-change="calcElixir()" ng-options="item as item.name for item in banks"></select>
              </label>
          </div>
          <div class="col">
              <label class="item item-input item-select">
                  <div class="input-label">
                      Bank odbiorcy
                  </div>
                  <select ng-model="select.bankTo" ng-change="calcElixir()" ng-options="item as item.name for item in banks"></select>
              </label>
          </div>
      </div>
      <div class="row responsive-sm">
          <div class="col">
              <ionic-timepicker input-obj="timePickerObject">
                  <button class="button button-block button-stable">{{epochToTimeString(select.epoh)}}</button>
              </ionic-timepicker>

          </div>
          <div class="col">
              <ionic-datepicker input-obj="datepickerObject">
                  <button class="button button-block button-stable"> {{select.now | date:'yyyy-MM-dd'}}</button>
              </ionic-datepicker>
          </div>
      </div>
      <div class="row">
          <div class="col text-center">
              <b>{{ret.msg}}</b>
          </div>
      </div>

      
          <!--<div class="list card">
          <div class="item item-divider">Recent Updates</div>
          <div class="item item-body">
            <div>
              There is a fire in <b>sector 3</b>
            </div>
          </div>
        </div>-->
</ion-content>
</ion-view>
