<ion-view view-title="O programie Kiedy Przelew">
    <ion-content class="padding" style="background-image:url(img/paper_pattern.jpg)" overflow-scroll="true">
        <div class="list card ">
            <div class="item text-center">
                <a href="#" onclick="window.open('http://jabiel.pl', '_system', 'location=yes'); return false;">
                    <img src="img/sm-logo.png" alt="logo" />
                </a>
            </div>
            <div class="item item-divider">Przeslij opinie</div>
            <div class="item item-body">
                <p>Masz uwagi? Apka nie dziala? Daj mi znac!</p>
                <button class="button button-outline button-block" ng-click="sendMessage()">Wyslij wiadomosc</button>
            </div>
            <div class="item item-divider">Informacje</div>
            <div class="item h4">Wersja {{appVersion}}</div>
            <div class="item item-body text-center">
                <p>Autorem aplikacji jest Jarosaw Bielicki</p>
                <a href="javacript:" ng-click="gotoWebsite('https://jabiel.pl')">
                    <img src="img/sm-logo.png" alt="logo" />
                </a>
            </div>
            <div class="item item-body text-center item-image">
                <a class="item" href="#" onclick="window.open('https://github.com/jabiel/Elixir', '_system', 'location=yes'); return false;">
                    Kod zrodlowy aplikacji jest dostepny na zasadach wolnego oprogramowania i znajduje sie tutaj
                </a>
            </div>

        </div>

        <!--
        <div class="list card" style="margin-top:50px;">
            <div class="item item-divider">Ostatnie aktualizacje</div>
            <div class="item item-body">
                <ul>
                    <li class="ion-arrow-right-b"> Poprawiony layout na tabletach</li>
                    <li class="ion-arrow-right-b"> Dodane kolejne banki</li>
                    <li class="ion-arrow-right-b"> Zapamiętywanie ostatnio wybranych banków</li>
                    <li class="ion-arrow-right-b"> Nowe tło</li>
                    <li class="ion-arrow-right-b"> Poprawiony mechanizm wyliczający dzień przelewu</li>
                </ul>
            </div>
        </div>-->

        
    </ion-content>
</ion-view>
