<ion-view view-title="O programie Kiedy Przelew">
    <ion-content style="background-image:url(img/paper_pattern.jpg)" overflow-scroll="true">
        <div class="list">
            <div class="item text-center">
                <img src="img/logo-dark.png" alt="logo" />
            </div>
            <div class="item item-divider">Przeslij opinie</div>
            <div class="item item-body">
                <p>
                    Jeśli znalazłeś błąd proszę daj mi znać. 
                </p>

                <button class="button button-block" ng-click="sendMessage()">Wyślij wiadomość</button>
            </div>
            <div class="item item-divider">Informacje</div>
            <div class="item h4">Wersja {{appVersion}}</div>

            <div class="item item-body text-center">
                <p>Autorem aplikacji jest </p>
                <a href="#" onclick="window.open('http://jabiel.eu', '_system', 'location=yes'); return false;">
                    <img src="img/sm-logo.png" alt="logo" />
                </a>
            </div>
            <div class="item item-divider">Polityka prywatności</div>
            <div class="item item-body">
                Aplikacja ma charakter informacyjny a wskazany czas może różnić się od faktycznego.
                Autor aplikacji nie ponosi odpowiedzialności za jej błędne działanie. Aplikacja nie gromadzi żadnych danych.
                Kod źródłowy aplikacji jest dostępny na zasadach wolnego oprogramowania
                <a href="#" onclick="window.open('https://github.com/jabiel/Elixir', '_system', 'location=yes'); return false;">
                    i znajduje się tutaj
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>
