<ion-view view-title="Elixir">
  <ion-content class="padding">
      
      <div class="list">
          <label class="item item-input item-select">
              <div class="input-label">
                  Bank nadawcy
              </div>
              <select ng-model="select.bankFrom" ng-change="calcElixir()" ng-options="item as item.name for item in banks"></select>
          </label>
      </div>
      <div class="list">
          <label class="item item-input item-select">
              <div class="input-label">
                  Bank odbiorcy
              </div>
              <select ng-model="select.bankTo" ng-change="calcElixir()" ng-options="item as item.name for item in banks"></select>
          </label>
      </div>

      <ionic-timepicker input-obj="timePickerObject">
          <button class="button button-block button-stable">{{epochToTimeString(select.epoh)}}</button>
      </ionic-timepicker>

      <ionic-datepicker input-obj="datepickerObject">
          <button class="button button-block button-stable"> {{select.now | date:'yyyy-MM-dd'}}</button>
      </ionic-datepicker>

      <p>
          <b>{{ret.msg}}</b>
      </p>
      
    <!--<div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>-->
  </ion-content>
</ion-view>
