<ion-view view-title="O programie">
    <ion-content class="padding">
        <div class="row" style="margin-top:50px;">
            <div class="col text-center">
                <img src="/img/sm-logo.png" />
            </div>
        </div>


        <div class="list card" style="margin-top:100px;">
            <div class="item item-divider">Ostatnie aktualizacje</div>
            <div class="item item-body">
                <ul>
                    <li class="ion-arrow-right-b"> Poprawiony layout na tabletach</li>
                    <li class="ion-arrow-right-b"> Dodane kolejne banki</li>
                    <li class="ion-arrow-right-b"> Zapamiętywanie ostatnio wybranych banków</li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>
